body {
  background-color: #042037;
  height: 100%;
  margin: 0;
}


.container {
  background-color: #718EA4;
  border-style: ridge;
  border-radius: 2%;
  margin-top: 0.4em;
}

.hide {
  display: none;
}

.inputForm {
  padding: 0.4em;
  margin: 0.2em;
  background-color: lightblue;
  border-style: ridge;
  border-radius: 2%;

}

.header {
  margin-top: 0.4em;
}

.header h1 {
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  text-align: center;
  color: #153959;
}

.jumbotron {
  border-style: ridge;
  border-radius: 2%;
  background-color: #FFE064;
}

#instructions {
  color: #153959;
}

#instructions h2 {
  font-family: 'Dosis', sans-serif;
}

#resultList {
  background-color: pink;
  border-style: ridge;
  border-radius: 2%;
  margin-bottom: 0.4em;
  padding-left: 0.4em;
}

.help-block {
  color: red;
  font-weight: bold;
}

#instructionsButton {
  margin: 0.4em;
}

.winner {
  background-color: #7BCC33;
}

#winningPic {
  padding: 0.1em;
}

.loser {
  background-color: #C61515;
}

#losingPic {
  padding: 0.1em;
}
