body {
  background-color: #042037;
  height: 100%;
  margin: 0;
  background-image: url(../img/pingPongBalls.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.container {
  /*background-color: #718EA4;*/
  background-image: url(../img/neonTable2.png);
  background-repeat: no-repeat;
  background-size: cover;
  /*background: 30%;*/
  border-style: ridge;
  border-radius: 2%;
  margin-top: 0.4em;
}

.hide {
  display: none;
}

.inputForm {
  padding: 0.4em;
  margin: 0.2em;
  background-color: orange;
  border-style: ridge;
  border-radius: 2%;
}

.inputForm label {
  color: blue;
}

.header {
  margin-top: 0.4em;
  /*background-image: url(../img/pingPongBalls.jpg);
  background-repeat: no-repeat;
  background-size: cover;*/
}

.header h1 {
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  text-align: center;
  color: blue;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 5em;
}

.jumbotron {
  border-style: ridge;
  border-radius: 2%;
  background-color: orange;
}

#instructions {
  color: blue;
}

#instructions h2 {
  font-family: 'Dosis', sans-serif;
}

#resultList {
  background-color: lavender;
  border-style: ridge;
  border-radius: 2%;
  margin-bottom: 0.4em;
  padding-left: 0.4em;
}

.help-block {
  color: red;
  font-weight: bold;
}

#instructionsButton {
  margin: 0.4em;
}

.winner {
  background-color: #7BCC33;
}

#winningPic {
  padding: 0.1em;
}

.loser {
  background-color: #C61515;
}

#losingPic {
  padding: 0.1em;
}
